<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="async_mesaging_common" value="https://pkgs.dev.azure.com/TheCreteTeam/6733bd99-93cd-4992-933d-26bd2a613104/_packaging/async_mesaging_common/nuget/v3/index.json" />
    </packageSources>
</configuration>